-
  var signedOutLinks = [
    { name: 'Sign In', path: '/signin' },
    { name: 'Sign Up', path: '/signup' }
  ];
  var signedInLinks = [
    { name: 'Profile', path: '/profile' },
    { name: 'New Topic', path: '/topics/create' },
    { name: 'Sign Out', path: '/signout' }
  ];
nav
  div(class='wrapper')
    h1
      a(href='/')= 'Web Forum'
    ul
      if signedIn
        each link in signedInLinks
          li
            a(href=link.path)= link.name
      else
        each link in signedOutLinks
          li
            a(href=link.path)= link.name
