@import "../vars";

.comment-divider {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  border-left: 1px solid $medium-grey;
}

.comment {
  display: flex;
  border: 1px solid $medium-grey;
  border-radius: $default-border-radius;

  a {
    display: flex;
    text-decoration: none;
  }

  .author-panel {
    padding: 20px;
    max-width: 150px;
    color: $dark-grey;
    background-color: $light-grey;
  }

  .author-avatar img {
    display: block;
    margin: 0 auto 15px;
    width: 100px;
    height: 100px;
  }

  .author-username {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    overflow-wrap: break-word;
  }

  .comment-body {
    padding: 25px;
    line-height: 1.5;
  }
}

@media (max-width: $mobile-threshold) {
  .comment {
    .author-panel {
      width: 100px;
      padding: 10px;
    }

    .author-avatar img {
      width: 60px;
      height: 60px;
    }
  }
}
