@import "../vars";

nav {
  background-color: $dark-grey;
  color: $light-grey;

  a {
    color: $light-grey;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 20px;

    h1 {
      font-size: 20px;
      font-weight: 700;
    }

    ul {
      flex: 1;
      text-align: right;

      li {
        display: inline-block;
        margin: 0 0 0 20px;
      }
    }
  }
}
