@import "../vars";

.post-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;

  h1 {
    margin: 0;
  }
}

.post-list.sm {
  font-size: 13px;
  line-height: 1.4;

  a {
    text-decoration: none;
    font-weight: 700;
    color: $dark-grey;

    &:hover {
      text-decoration: underline;
    }
  }

  .post-row {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid transparent;

    &:nth-child(2n+1) {
      background-color: $light-grey;
    }

    &:hover {
      border-color: $accent-color;
    }
  }

  .post-title a {
    font-size: 16px;
    color: $accent-color;
  }

  .post-user img {
    width: 30px;
    height: 30px;
  }

  .post-details {
    flex: 1;
    margin-left: 10px;
  }
}

.post-list.lg {
  a {
    text-decoration: none;
    color: $dark-grey;
  }

  .post-row {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid $medium-grey;
    border-radius: $default-border-radius;
    margin-bottom: 20px;

    &:hover {
      border-color: $accent-color;

      .post-icon img {
        opacity: 1;
      }
    }
  }

  .post-icon img {
    margin: 0 0 0 20px;
    width: 60px;
    height: 60px;
    opacity: .7;
  }

  .post-details {
    flex: 1;
  }

  .post-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    color: $accent-color;
  }

  .post-date {
    font-size: 13px;
    margin-bottom: 12px;
  }

  .post-avatar img {
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
  }

  .post-excerpt {
    padding: 15px;
    background-color: $light-grey;
    border-radius: $default-border-radius;
  }
}

@media (max-width: $mobile-threshold) {
  .post-list.lg .post-icon {
    display: none;
  }
}
