html
  head
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' href='styles.css')
    title= 'Demo: Node Web Forum'
  body
    div(id='app')
      block content
