extends base.pug

block content
  -
    var icon = code === 404 ? 'search' : 'construction';

  div(class='centered-content column')
    img(class='error-icon' src='/icons/' + icon + '.svg')
    div(class='centered-text')= message
