// Layout:
$content-max-width: 1200px;
$default-border-radius: 4px;

// Fonts:
$base-font-family: Helvetica, sans-serif;
$base-font-size: 16px;

// Colors:
$white: rgb(255, 255, 255);
$dark-grey: rgb(50, 50, 50);
$medium-grey: rgb(230, 230, 230);
$light-grey: rgb(245, 245 ,245);
$accent-color: rgb(79, 14, 234);
$error-red: rgb(247, 163, 163);
$error-red-dark: rgb(99, 25, 25);
